p {
    text-align: center;
    color: aliceblue;
  }
ul{
  color: aliceblue;
  text-align: left;
  align-items: center;
  font-size: large;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  height: 98vh;
  flex-wrap: nowrap;  
  overflow: hidden;
  }
header {
  background-color: #00000000;
  margin: 0%;
  width: 100%;
  height: 7%;
  position: absolute;
}
header p {
  font-size: xx-large;
  animation: degrade 2s linear alternate;
}
h1{
  font-size: xxx-large;
  height: 50%;
  text-align: center;
  color: white;
  margin: 0%;
  animation: degrade 2s linear alternate;
  cursor: pointer;
}
h2{
  color: white;
  animation: degrade 2s linear alternate;
}
.acceso{
  position: fixed;
  top: 19%;
}
.reglas{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15%;
}
.reglas ul{
  animation: degrade 2s linear alternate;
}
.reglas p{
  animation: degrade 2s linear alternate;
}

  .boton div{
    z-index: 1;
    display: flex;
    flex-direction: column;
    width: 17% ;
    position: absolute;
    top: 75%;
    right: 50%;
    transform: translate(50%, 0%);
  }
.comic-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #000000;
    background-color: #52ff5b;
    border: 2px solid #00000000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .comic-button:hover {
    background-color: #00000000;
    color: #52ff5b;
    border: 2px solid #52ff5b;
    box-shadow: 5px 5px 0px #52ff5b;
  }
  
  .comic-button:active {
    background-color: #fcf414;
    box-shadow: none;
    transform: translateY(4px);
  }

.container {
    width: 100%;
    height: 94vh;
  }

.burbujas {
    z-index: -1;
    position: relative;
    bottom: 6%;
    display: flex;
    justify-content: space-around;
  }
  
.burbujas span {
    position: relative;
    width: 30px;
    height: 30px;
    background: #aa43d3;
    margin: 0 4px;
    transform: rotate(45deg) skew(10deg, 10deg);
    box-shadow: 0 0 0 10px #7117bb,
    0 0 50px #f700ff,
    0 0 100px #f700ff;
    animation: animacion 15s linear infinite; 
    animation-duration: calc(125s / var(--i));
  }

  .burbujas span:nth-child(even) {
    transform: rotate(45deg) skew(10deg, 10deg);
    background: #78cdff;
    box-shadow: 0 0 0 10px #00c3ff,
    0 0 50px #14cefc,
    0 0 100px #14b2fc;
  }

@keyframes degrade {
  0%{
    color: black;
  }
  100%{
    color: white;
  }
}

@keyframes animacion {
   0% {
    transform: translateY(100vh) scale(0) rotate(45deg) skew(10deg, 10deg);
   }
   100%{
    transform: translateY(-10vh) scale(1) rotate(45deg) skew(10deg, 10deg);
   }
  }

  @keyframes degradedos {
    0%{
      color: rgb(255, 255, 255);
    }
    100%{
      color: rgb(0, 0, 0);
    }
  }


footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p {
  display: inline;
  top: 10px;
  margin: 1%;
  animation: degrade 2s linear alternate;
}
  .sonido {
    font-size: -webkit-xxx-large;
    color: white;
    animation: degrade 2s linear alternate;
    cursor: pointer;
  }
.sonido:hover {
  color: #14b2fc !important;
}
.sonido:active {
  color: #7117bb !important;
  transform: translateY(4px) !important;
}

.sonido_mute {
  font-size: -webkit-xxx-large;
  color: white;
  animation: degrade 2s linear alternate;
  cursor: pointer;
}
.sonido_mute:hover {
color: #14b2fc !important;
}
.sonido_mute:active {
color: #7117bb !important;
transform: translateY(4px) !important;
}

.darkmode{
  font-size: -webkit-xxx-large;
  color: white;
  animation: degrade 2s linear alternate;
  cursor: pointer;
}

.darkmode:hover {
  color: #14b2fc !important;
}
.darkmode:active {
  color: #7117bb !important;
  transform: translateY(4px) !important;
}

.bg_dark{
  background: #000000;
}
.bg_light{
  background-color: palegoldenrod;
}


#secti{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 65%;
  border-style: solid ;
  border-color: #fcf414;
  width: 65%;
  /* height: 18%; */
}
table tr th{
  border: 3px solid #fcf414;
  width: 1%;
  height: 35.5px;
  color: whitesmoke;
  animation: degrade 2s linear alternate;
}

.tabla_j_uno th:not(.jugador_uno):hover{
transition: 0.5s ease ;
background-color:rgb(105, 105, 105) ;
}.tabla_j_dos th:not(.jugador_dos):hover{
transition: 0.5s ease ;
background-color:rgb(105, 105, 105) ;
}
.tabla_j_tres th:not(.jugador_tres):hover{
transition: 0.5s ease ;
background-color:rgb(105, 105, 105) ;
}
.tabla_j_cuatro th:not(.jugador_cuatro):hover{
transition: 0.5s ease ;
background-color:rgb(105, 105, 105) ;
}

      
.num_jugadores p{
  font-size: 40px;
  cursor: pointer;
  margin: 0%;
}

.num_jugadores {
display: flex;
width: 100%;
justify-content: space-around;
}

.btn_num_jug {
  height: 2rem;
  width: 9rem;
  margin-top: 4px;
  background-color: #f4f5f8;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 400ms;
  box-shadow: 0 0 3px  #f4f5f8, 0 0 3px #f4f5f8;
  cursor: pointer;
}
.lista_num th{
  height: 38px;
  cursor: default;
}

.total{
  color: #fcf414;
}

.tirar{
  top: 50%;
  position: sticky;
  font-size:23px;
  font-family:Arial;
  width:140px;
  height:50px;
  border-width:1px;
  color:#000000;
  border-color:#78cdff;
  font-weight:bold;
  border-top-left-radius:8px;
  border-top-right-radius:8px;
  border-bottom-left-radius:8px;
  border-bottom-right-radius:8px;
  box-shadow: 0px 7px 30px 1px #78cdff;;
  text-shadow: 0px 1px 0px #78cdff;;
  background:linear-gradient(#78cdff, #78cdff);
}
.tirar:hover {
  background: linear-gradient(#71becc, #7abcd4);
}

form{
  position: sticky;
  top: 15%;
  color: aliceblue;
}


.dados{
  width: 90%;
  height: 20%;
  position: absolute;
  top: 25%;
}
.dados_div{
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.dados_div div{
  border: 3px solid yellow;
  width: 14%;
  color: whitesmoke;
  font-size: 16vh;
  text-align: center;
}








::selection {
  background-color: gray;
}

.boton_usuario {
  width: 45%;
  height: 28%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
}
.cant_jugadores {
  width: 45%;
  height: 28%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  z-index: 1;
}
.form_num {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #424242, #0000);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 0.5rem;
}

.form_num label {
  color: #f4f5f8;
  margin: 7px 0px 0px 0px;
  font-size: 3rem;
  text-align: center;
}
.form_nom {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #424242, #0000);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 0.5rem;
}

.form_nom label {
  color: #f4f5f8;
  margin: 7px 0px 0px 0px;
  font-size: 3rem;
  text-align: center;
}

.input {
  margin: 0.5rem 0;
  padding: 1rem 0.5rem;
  width: 20rem;
  background-color: inherit;
  color: #f4f5f8;
  border: none;
  outline: none;
}

.username {
  border-bottom: 1px solid #f4f5f8;
  transition: all 400ms;
  width: 70%;
  margin: 0%;
}

.username:hover {
  background-color: #424242;
  border: none;
  border-radius: 0.5rem;
}
.btn {
  height: 2rem;
  width: 9rem;
  margin-top: 4px;
  background-color: #f4f5f8;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
  transition: all 400ms;
  box-shadow: 0 0 3px  #f4f5f8, 0 0 3px #f4f5f8;
  cursor: pointer;
}

.btn:hover {
  background-color: #f4f5f8;
  box-shadow: none;
}
.ronda{
    position: relative;
    font-size: xxx-large;
    top: 48%;
    margin: 0%;
    animation: degrade 2s linear alternate;
}


img{
  border-radius: 13%;
  box-shadow: 0px 0px 12px 6px #7117bb;
} 


th{
  cursor: pointer;
}


.jugador_uno {
  cursor: default;
}
.jugador_dos {
  cursor: default;
}
.jugador_tres {
  cursor: default;
}
.jugador_cuatro{
  cursor: default;
}

.terminar_turno{
  position: relative;
  top: 6%;
}


.card_body{
  width: 25%;
  height: 23%;
  position: absolute;
  right: 75%;
}

.card_body img{
  width: 100%;
  height: 100%;
  object-fit: fill;
  position: relative;
  border-radius: 50%;
}

.swal2-popup  h2{
    animation: none

}


.btn_reset{
 position : relative;
top: 20px
}


.dados_div img:active{
  transform: scale(1.2);
  cursor: pointer;
}

.turnoDe{
  display: none;
  position: absolute;
    top: 27rem;
    left: 17%;
    font-size: large;
}



@media (max-width:480px) {

ul {
font-size: medium;
}

body{
  height: 93vh;
}

.turnoDe{
  display: none;
  position: absolute;
  top: 25rem;
  left: 2%;
  font-size: large;
}

.cant_jugadores {
  width: 75%;
}

.form_num label{
  font-size: 2rem;
}

.form_nom label{
  font-size: 2rem;
}

.form_nom #nombre{
  width: 70%;
}

.aclaracion{
  display: none;
}
.reglas{
  top: 17%;
}

.comic-button {
  border-radius: 42px;
  padding: 20px 0px;
  font-size: 20px;
  margin-top: 4rem;
}

.boton div {
  width: 16%;
}

.dados {
  width: 94%;
  height: 4rem;
  position: absolute;
  top: 23%;
}
.boton_usuario {
  z-index: 1;
  top: 30%;
}

.ronda{
  top: 38%;
}

.tirar{
  top: 38%;
  width: 88px;
}

#secti{
  top: 57%;
  width: 95%;
}

.sonido{
  font-size: xx-large;
}
.sonido_mute{
  font-size: xx-large;
}

.darkmode{
  font-size: xx-large;
}

.dados_div div {
  font-size: 8vh;
}

.burbujas span {
  height: 13px;
}

}


